<footer class="page-footer">

  <section class="footer-main">
    <div class="footer-main__container base-container">
      <a class="footer-main__logo base-link" href="index.html">
        <figure class=footer-main__logo-image base-figure">
          <img class=footer-main__logo-img" src="img/image/logo-footer.svg" width="120" height="50" alt="Логотип">
        </figure>
        <span class="footer-main__logo-year">© 2022</span>
      </a>
      <ul class="footer-main__nav-list base-list">
        <li class="footer-main__nav-item">
          <a class="footer-main__nav-link base-link" href="#">Почему мы</a>
        </li>
        <li class="footer-main__nav-item">
          <a class="footer-main__nav-link base-link" href="#">Услуги</a>
        </li>
        <li class="footer-main__nav-item">
          <a class="footer-main__nav-link base-link" href="#">О нас</a>
        </li>
        <li class="footer-main__nav-item">
          <a class="footer-main__nav-link base-link" href="#">Консультация</a>
        </li>
      </ul>
      <div class="footer-main__info">
        <a class="footer-main__info-isart base-link" targe="_blank" rel="noreferrer" href="https://is-art.ru/">
          <span class="footer-main__isart-text">Разработано</span>
          <svg class="footer-main__isart-icon" width="52" height="22" alt="#">
            <use href="img/icon/sprite.svg#isart-logo-icon"></use>
          </svg>
        </a>
        <a class="footer-main__info-policy base-link" href="#">Политика конфиденциальности</a>
      </div>
    </div>
  </section>
</footer>

<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script src="js/index.min.js?v=1.0"></script>
</body>

</html>