<footer class="page-footer">

  <section class="footer-underline">
    <div class="footer-underline__container base-container">
      <span class="footer-underline__copyright"></span>
      <a class="footer-underline__policy base-link" href="index.html">Политика конфиденциальности</a>
      <a class="footer-underline__isart-link base-link" targe="_blank" rel="noreferrer" href="https://is-art.ru/">
        <span class="footer-underline__isart-text">Разработано</span>
        <svg class="footer-underline__logo-icon" width="52" height="22" alt="#">
          <use href="img/icon/sprite.svg#isart-logo-icon"></use>
        </svg>
      </a>
    </div>
  </section>
</footer>
<script src="js/index.min.js?v=1.0"></script>
</body>

</html>