@use "../mixins";

.feedback {

  padding: 20px 0 0 0;
  margin: 92px 0 146px 0;

  @include mixins.respond-to(mobileOnly) {
    background: var(--color-wild-sand);

    margin: 60px 0 0 0;
  }

  @include mixins.respond-to(tabletOnly) {
    background: var(--color-wild-sand);

    margin: 60px 0 60px 0;
  }

  &__wrapper {
    display: flex;
    align-items: stretch;
    justify-content: space-between;

    background: var(--color-wild-sand);
    box-shadow: 0px 7px 22px rgba(57, 57, 57, 0.25);
    border-radius: 10px;

    @include mixins.respond-to(mobileOnly) {
      width: 100%;
      box-shadow: none;
    }

    @include mixins.respond-to(tabletOnly) {
      width: 100%;
      box-shadow: none;
    }
  }

  &__column {
    max-width: 650px;
    min-height: 677px;


    @include mixins.respond-to(mobileOnly) {
      max-width: 100%;
    }

    @include mixins.respond-to(tabletOnly) {
      max-width: 100%;
    }

    &--left {
      padding: 70px 47px;

      @include mixins.respond-to(mobileOnly) {
        width: 100%;

        padding: 60px 0 60px 0;
      }

      @include mixins.respond-to(tabletOnly) {
        width: 100%;

        padding: 60px 0 60px 0;
      }

      & .feedback__form {
        display: flex;
        flex-direction: column;
      }
    }

    &--right {
      position: relative;

      display: flex;
      flex-direction: column;

      border-radius: 6px;

      @include mixins.respond-to(mobileOnly) {
        display: none;
      }

      @include mixins.respond-to(tabletOnly) {
        display: none;
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;
        background: var(--gradient-main);
        opacity: 0.6;
        border-radius: 6px;

      }

      & .feedback__info {


        padding: 0 22px 0 22px;
        margin: auto 0 115px 0;

        &-text {
          position: relative;

          display: inline-block;

          max-width: 545px;

          font-family: var(--font-family-title);
          font-weight: 700;

          color: var(--color-black);
          text-transform: uppercase;

          z-index: 10;

          &--big {
            font-size: 35px;
            line-height: 48px;

            margin: 0 0 15px 0;
          }

          &--small {
            font-size: 20px;
            line-height: 24px;
          }
        }
      }
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__label {
    display: flex;
    flex-direction: column;

    margin: 0 0 30px 0;

    @include mixins.respond-to(mobileOnly) {
      margin: 0 0 16px 0;

      &:last-of-type {
        margin: 0 0 30px 0;
      }
    }

    @include mixins.respond-to(tabletOnly) {
      margin: 0 0 16px 0;

      &:last-of-type {
        margin: 0 0 30px 0;
      }
    }

    &:last-child {
      margin: 0;
    }

    &--phone {
      margin: 0 0 10px 0;
    }

    &-text {
      display: inline-block;

      font-family: var(--font-family-title);
      font-weight: 700;
      font-size: 16px;
      line-height: 22px;
      color: var(--color-black);

      margin: 0 0 10px 0;
    }
  }

  &__input {
    width: 100%;
    height: 54px;
    background-color: var(--color-mercury);
    border: none;
    outline: none;

    font-family: var(--font-family-title);
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: var(--color-black);

    padding: 16px 16px 16px 10px;

    &--mobile {
      padding: 16px 16px 16px 60px;
    }

    &:focus-visible {
      outline: var(--color-pancho) solid 3px;
    }
  }

  &__input-block {
    display: flex;

    margin: 0 0 30px 0;

    @include mixins.respond-to(mobileOnly) {
      margin: 0 0 16px 0;
    }

    @include mixins.respond-to(tabletOnly) {
      margin: 0 0 16px 0;
    }
  }

  &__select {
    position: relative;

    display: flex;
    align-items: center;

    background-color: var(--color-mercury);

    padding: 0 0 0 10px;
    margin: 0 -51px 0 0;

    &-flag {
      width: 30px;
      min-width: 30px;
      height: 20px;
      min-height: 20px;
      cursor: pointer;

      margin: 0 5px 0 0;

      &--ru {
        background: url('../img/image/flag-ru.svg');
        background-size: 30px 20px;
        background-repeat: no-repeat;
      }

      &--ar {
        background: url('../img/image/flag-ar.svg');
        background-size: 30px 20px;
        background-repeat: no-repeat;
      }
    }

    &-arrow {
      width: 6px;
      min-width: 6px;
      height: 6px;
      min-height: 6px;
    }

    &-list {
      position: absolute;
      left: 0;
      bottom: -99px;

      display: none;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      width: 71px;
      height: 99px;
      background-color: var(--color-mercury);
      box-shadow: 0 30px 30px 0 var(--color-mine-shaft);

      &--active {
        display: flex;
      }
    }

    &-item {
      width: 30px;
      height: 20px;
      cursor: pointer;

      margin: 0 0 18px 0;

      &--ru {
        background: url('../img/image/flag-ru.svg');
        background-size: 30px 20px;
        background-repeat: no-repeat;
      }

      &--ar {
        background: url('../img/image/flag-ar.svg');
        background-size: 30px 20px;
        background-repeat: no-repeat;
      }

      &:last-child {
        margin: 0;
      }
    }
  }

  &__textarea {
    width: 100%;
    height: 137px;
    background-color: var(--color-mercury);
    border: none;
    outline: none;
    resize: none;

    font-family: var(--font-family-title);
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: var(--color-black);

    padding: 16px 16px 16px 10px;

    @include mixins.respond-to(mobileOnly) {
      height: 187px;
    }

    @include mixins.respond-to(tabletOnly) {
      height: 187px;
    }

    &:focus-visible {
      outline: var(--color-pancho) solid 3px;
    }
  }

  &__submit {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 80px;
    background: var(--gradient-main);
    border-radius: 7px;
    box-shadow: none;
    cursor: pointer;

    font-family: var(--font-family-title);
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-black);

    margin: 0 0 10px 0;

    transition: font-size 0.1s;

    &:hover {
      box-shadow: 0px 0px 19px rgba(233, 212, 158, 0.4);
      font-size: 17px;

      transition: box-shadow 0.1s, font-size 0.1s;
    }

    @include mixins.respond-to(mobileOnly) {
      margin: 0 0 30px 0;
    }

    @include mixins.respond-to(tabletOnly) {
      margin: 0 0 30px 0;
    }
  }

  &__terms {
    font-family: var(--font-family-title);
    font-weight: 600;
    font-size: 13px;
    line-height: 22px;
    color: var(--color-black);

    &-link {
      color: var(--color-blue-zodiac);
      text-decoration: underline;

      transition: color 0.1s;

      &:hover {
        color: var(--color-william);

        transition: color 0.1s;
      }
    }
  }

  &__info--mobile {
    display: none;

    margin: 0 0 20px 0;

    & .feedback__info-text {
      display: flex;
      flex-direction: column;

      &--big {
        font-family: var(--font-family-title);
        font-weight: 700;
        font-size: 26px;
        line-height: 35px;
        text-transform: uppercase;

        margin: 0 0 16px 0;
      }

      &--small {
        font-family: var(--font-family-title);
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        text-transform: uppercase;
        color: var(--color-gray);
      }
    }

    @include mixins.respond-to(mobileOnly) {
      display: block;
    }

    @include mixins.respond-to(tabletOnly) {
      display: block;
    }
  }
}