@use "../mixins";

.heading {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.4);
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    min-height: 710px;

    padding: 80px 0 0 0;

    @include mixins.respond-to(mobileOnly) {
      padding: 115px 0 0 0;
    }

    @include mixins.respond-to(tabletOnly) {
      padding: 115px 0 0 0;
    }
  }

  &__info {
    width: 100%;

    z-index: 9;

    &-title {
      font-family: var(--font-family-title);
      font-weight: 700;
      font-size: 70px;
      line-height: 85px;
      color: var(--color-white);
      text-align: left;

      margin: 0 0 3px 0;

      @include mixins.respond-to(mobileOnly) {
        font-size: 40px;
        line-height: 49px;
        text-align: center;

        margin: 0 0 13px 0;
      }

      @include mixins.respond-to(tabletOnly) {
        font-size: 40px;
        line-height: 49px;
        text-align: center;

        margin: 0 0 13px 0;
      }
    }

    &-subtitle {
      display: inline-block;

      width: 100%;

      font-family: var(--font-family-title);
      font-weight: 700;
      font-size: 39px;
      line-height: 48px;
      color: var(--color-pancho);
      text-align: left;

      margin: 0 0 23px 0;

      @include mixins.respond-to(mobileOnly) {
        font-size: 40px;
        line-height: 49px;
        text-align: center;

        margin: 0 0 77px 0;
      }

      @include mixins.respond-to(tabletOnly) {
        font-size: 40px;
        line-height: 49px;
        text-align: center;

        margin: 0 0 77px 0;
      }
    }

    &-features {
      display: flex;

      margin: 0 0 35px 0;

      @include mixins.respond-to(mobileOnly) {
        display: none;
      }

      @include mixins.respond-to(tabletOnly) {
        display: none;
      }
    }
  }

  &__features-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    width: 263px;
    height: 55px;

    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(1.76105px);
    border: 1px solid var(--color-silver-chalice);
    border-radius: 9px;

    padding: 16px 39px;
    margin: 0 23px 0 0;

    z-index: 1;

    &:last-child {
      margin: 0;
    }
  }

  &__features-text {
    position: relative;

    opacity: 1 !important;

    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    color: var(--color-white);
    text-align: center;

    z-index: 2;
  }

  // @keyframes wispAnim {
  //   0% {
  //     transform: rotate(0);
  //   }

  //   100% {
  //     transform: rotate(360deg);
  //   }
  // }

  @keyframes wispAnimTwo {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(2);
    }

    100% {
      transform: scale(1);
    }
  }

  &__features-wisp {
    // position: relative;

    // width: 20px;
    // min-width: 20px;
    // height: 20px;
    // min-height: 20px;
    // border-radius: 50%;

    // animation-name: wispAnim;
    // animation-duration: 1.5s;
    // animation-timing-function: linear;
    // animation-iteration-count: infinite;

    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: linear-gradient(90deg, #EDD49D -25.11%, #E7D39E 175.32%);
    box-shadow: 0px 0px 16.6419px #F19C41, 0px 0px 9.50966px #F19C41, 0px 0px 5.5473px #F19C41, 0px 0px 2.77365px #F19C41, 0px 0px 0.792471px #F19C41, 0px 0px 0.396236px #F19C41;

    animation-name: wispAnimTwo;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    margin: 0 69px 0 0;

    // &::after {
    //   content: "";
    //   position: absolute;
    //   right: 0;

    //   width: 5px;
    //   height: 5px;
    //   border-radius: 50%;
    //   background: linear-gradient(90deg, #EDD49D -25.11%, #E7D39E 175.32%);
    //   box-shadow: 0px 0px 16.6419px #F19C41, 0px 0px 9.50966px #F19C41, 0px 0px 5.5473px #F19C41, 0px 0px 2.77365px #F19C41, 0px 0px 0.792471px #F19C41, 0px 0px 0.396236px #F19C41;
    // }
  }

  &__features-item:last-child {
    & .heading__features-wisp {
      animation-name: wispAnimTwo;
      animation-duration: 5s;
      animation-delay: 2.5s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;

      margin: 0 45px 0 0;
    }
  }

  &__info-link {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 307px;
    height: 85px;
    background: linear-gradient(90deg, #EDD49D -25.11%, #E7D39E 175.32%);
    box-shadow: 0px 0px 100px rgba(207, 186, 130, 0.25), 0px 0px 247.565px rgba(207, 186, 130, 0.25), 0px 0px 144.413px rgba(207, 186, 130, 0.25), 0px 0px 72.2064px rgba(207, 186, 130, 0.25), 0px 0px 20px rgba(216, 127, 127, 0.25), 0px 0px 10px rgba(216, 127, 127, 0.25);
    border-radius: 9px;

    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: var(--color-black);

    transition: box-shadow 0.3s, font-size 0.3s;

    &:hover {
      box-shadow: 0px 0px 10px rgba(207, 186, 130, 0.25), 0px 0px 10px rgba(207, 186, 130, 0.25), 0px 0px 10px rgba(207, 186, 130, 0.25), 0px 0px 10px rgba(207, 186, 130, 0.25), 0px 0px 10px rgba(216, 127, 127, 0.25), 0px 0px 10px rgba(216, 127, 127, 0.25);

      font-size: 18px;

      transition: box-shadow 0.3s, font-size 0.3s;
    }

    // &::before {
    //   content: "";
    //   position: absolute;
    //   left: 50%;
    //   bottom: -4px;

    //   width: 285px;
    //   height: 4px;
    //   background: linear-gradient(90deg, #EDD49D -25.11%, #E7D39E 175.32%);
    //   border-radius: 0px 0px 20px 20px;

    //   transform: translateX(-50%);
    // }

    @include mixins.respond-to(mobileOnly) {
      width: 100%;
      height: 89px;

      margin: 0;
    }

    @include mixins.respond-to(tabletOnly) {
      width: 100%;
      height: 89px;

      margin: 0;
    }
  }

}