@use "../mixins";

.help {
  padding: 100px 0 0 0;

  @include mixins.respond-to(mobileOnly) {
    padding: 60px 0 0 0;
  }

  @include mixins.respond-to(tabletOnly) {
    padding: 60px 0 60px 0;
  }

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__title {
    max-width: 745px;

    margin: 0 0 30px 0;
  }

  &__wrapper {
    box-shadow: 2px 5px 35px rgba(0, 0, 0, 0.1);
    border: 6px solid #d9c38d;
    border-radius: 6px;

    padding: 50px 30px 40px 50px;

    @include mixins.respond-to(mobileOnly) {
      padding: 33px 21px;
      margin: 0 0 20px 0;
    }

    @include mixins.respond-to(tabletOnly) {
      padding: 33px 21px;
      margin: 0 0 20px 0;
    }
  }

  &__wrapper-main {
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(2, 1fr);
    grid-row-gap: 39px;
    grid-column-gap: 62px;

    margin: 0 0 52px 0;

    @include mixins.respond-to(mobileOnly) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    @include mixins.respond-to(tabletOnly) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__wrapper-item {
    display: flex;
    align-items: center;

    max-width: 587px;
  }

  &__item-graphic {
    position: relative;

    display: flex;

    width: 50px;
    height: 45px;

    padding: 3px 7px 2px 3px;
    margin: 0 18px 0 0;
  }

  &__item-text {
    font-family: var(--font-family-title);
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
  }

  &__graphic-field {
    width: 40px;
    min-width: 40px;
    height: 40px;
    min-height: 40px;
    border: 3px solid var(--color-black);
  }

  &__graphic-icon {
    position: absolute;
    top: 0;
    left: 0;

    opacity: 0;

    transform: translateY(-100%);
  }

  &__wrapper-link {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 307px;
    height: 85px;
    background: linear-gradient(90deg, #EDD49D -25.11%, #E7D39E 175.32%);
    box-shadow: 0px 0px 100px rgba(207, 186, 130, 0.25), 0px 0px 247.565px rgba(207, 186, 130, 0.25), 0px 0px 144.413px rgba(207, 186, 130, 0.25), 0px 0px 72.2064px rgba(207, 186, 130, 0.25), 0px 0px 20px rgba(216, 127, 127, 0.25), 0px 0px 10px rgba(216, 127, 127, 0.25);
    border-radius: 9px;

    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: var(--color-black);

    transition: box-shadow 0.3s, font-size 0.3s;

    &:hover {
      box-shadow: 0px 0px 10px rgba(207, 186, 130, 0.25), 0px 0px 10px rgba(207, 186, 130, 0.25), 0px 0px 10px rgba(207, 186, 130, 0.25), 0px 0px 10px rgba(207, 186, 130, 0.25), 0px 0px 10px rgba(216, 127, 127, 0.25), 0px 0px 10px rgba(216, 127, 127, 0.25);

      font-size: 18px;

      transition: box-shadow 0.3s, font-size 0.3s;
    }

    @include mixins.respond-to(mobileOnly) {
      display: none;
    }

    @include mixins.respond-to(tabletOnly) {
      display: none;
    }

    &--mobile {
      display: none;

      width: 100%;
      height: 89px;

      @include mixins.respond-to(mobileOnly) {
        display: flex;
      }

      @include mixins.respond-to(tabletOnly) {
        display: flex;
      }
    }
  }
}

.check-icon {
  animation-name: checkAnim;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
  animation-fill-mode: forwards;

  @keyframes checkAnim {
    0% {
      opacity: 0;
      transform: translateY(-100%);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}