@use "../mixins";

.map {
  position: relative;

  min-height: 494px;

  @include mixins.respond-to(mobileOnly) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  @include mixins.respond-to(tabletOnly) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  & iframe {
    width: 100% !important;
    height: 494px !important;
  }

  &__info {
    position: absolute;
    top: -46px;
    left: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 90%;
    background: var(--gradient-main);
    border-radius: 6px;

    transform: translateX(-50%);

    padding: 25px 26px 18px 26px;

    @include mixins.respond-to(mobileOnly) {
      position: relative;
      top: auto;
      left: auto;

      width: 100%;
      border-radius: 0;

      transform: none;

      padding: 60px 5% 60px 5%;
    }

    @include mixins.respond-to(tabletOnly) {
      position: relative;
      top: auto;
      left: auto;

      width: 100%;
      border-radius: 0;

      transform: none;

      padding: 60px 5% 60px 5%;
    }

    @media(min-width: '1300px') {
      width: 100%;
      max-width: 1296px;
    }

    &-top {
      display: flex;
      flex-direction: column;
      align-items: center;

      margin: 0 0 10px 0;

      @include mixins.respond-to(mobileOnly) {
        margin: 0 0 14px 0;
      }

      @include mixins.respond-to(tabletOnly) {
        margin: 0 0 14px 0;
      }
    }

    &-phone {
      font-family: var(--font-family-title);
      font-weight: 700;
      font-size: 35px;
      line-height: 43px;
      color: var(--color-black);

      margin: 0 0 2px 0;

      @include mixins.respond-to(mobileOnly) {
        font-size: 24px;
        line-height: 29px;
      }

      @media only screen and (min-device-width: 320px) and (max-device-width: 388px) {
        font-size: 19px;
        line-height: 29px;
      }

      @include mixins.respond-to(tabletOnly) {
        font-size: 24px;
        line-height: 29px;
      }

      &:last-child {
        margin: 0;
      }
    }

    &-bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;

      width: 100%;

      @include mixins.respond-to(mobileOnly) {
        flex-direction: column;
      }

      @include mixins.respond-to(tabletOnly) {
        flex-direction: column;
      }
    }
  }

  &__bottom {

    &-right {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      @include mixins.respond-to(mobileOnly) {
        align-items: center;
      }

      @include mixins.respond-to(tabletOnly) {
        align-items: center;
      }
    }

    &-links {
      display: flex;
      align-items: center;

      @include mixins.respond-to(mobileOnly) {
        order: 2;
      }

      @include mixins.respond-to(tabletOnly) {
        order: 2;
      }
    }

    &-link {
      display: flex;
      align-items: center;
      justify-content: center;

      width: fit-content;
      height: fit-content;

      font-family: var(--font-family-title);
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: var(--color-mine-shaft);

      margin: 0 20px 0 0;

      &:last-child {
        margin: 0;
      }
    }

    &-email {
      @include mixins.respond-to(mobileOnly) {
        order: 1;

        margin: 0 0 14px 0
      }

      @include mixins.respond-to(tabletOnly) {
        order: 1;

        margin: 0 0 14px 0;
      }
    }

    &-left {
      font-family: var(--font-family-title);
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: var(--color-mine-shaft);

      @include mixins.respond-to(mobileOnly) {
        align-items: center;

        text-align: center;

        margin: 0 0 3px 0;
      }

      @include mixins.respond-to(tabletOnly) {
        align-items: center;

        text-align: center;

        margin: 0 0 3px 0;
      }
    }
  }
}