@use "../mixins";

.projects {
  overflow: hidden;

  background-color: #F8F8F8;

  padding: 114px 0 0 0;
  margin: 102px 0 100px 0;

  @include mixins.respond-to(mobileOnly) {
    padding: 60px 0 0 0;
    margin: 60px 0 60px 0;
  }

  &__title {
    text-align: left;

    margin: 0 0 25px 0;
  }

  &__container {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    width: 90%;
    overflow: hidden;

    margin: 0 auto;


    @include mixins.respond-to(desktopM) {
      width: inherit;
      max-width: calc(100% - ((100% - var(--container-width)) / 2));

      margin: 0;
      margin-left: auto;
    }
  }

  &__slider-block {
    display: flex;
    align-items: stretch;

    @include mixins.respond-to(mobileOnly) {
      flex-direction: column;
    }

    @include mixins.respond-to(tabletOnly) {
      flex-direction: column;
    }
  }

  &__slider {
    position: relative;

    width: 100%;

    @include mixins.respond-to(mobileOnly) {
      order: 1;
    }

    @include mixins.respond-to(tablet) {
      order: 1;

      height: 100%;
    }

    @include mixins.respond-to(desktopM) {
      order: 1;

      width: auto;
    }
  }

  &__slide {
    position: relative;

    @include mixins.respond-to(mobileOnly) {
      width: 100% !important;
    }

    @include mixins.respond-to(tablet) {
      height: 100%;
    }

    @include mixins.respond-to(desktopM) {
      width: 900px !important;
    }
  }

  &__slide-content {
    @include mixins.respond-to(mobileOnly) {
      width: 100%;
      height: 430px;
    }

    @include mixins.respond-to(tablet) {
      width: 100%;
      height: 100%;
    }

    @include mixins.respond-to(desktopM) {
      width: 900px;
    }
  }

  &__slide-image {
    @include mixins.respond-to(mobileOnly) {
      width: 100%;
      height: 430px;
    }

    @include mixins.respond-to(tablet) {
      width: 100%;
      height: 100%;
    }

    @include mixins.respond-to(desktopM) {
      width: 900px;
    }
  }

  &__slide-img {
    object-fit: cover;
    vertical-align: top;

    @include mixins.respond-to(mobileOnly) {
      width: 100%;
      height: 430px;
    }

    @include mixins.respond-to(tabletOnly) {
      width: 100%;
      height: 430px;
    }

    @include mixins.respond-to(desktopS) {
      width: 100%;
      height: 100%;
    }

    @include mixins.respond-to(desktopM) {
      width: 900px;
    }
  }

  &__slide-info {
    position: absolute;
    left: 0;
    bottom: 0;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 100%;
    max-width: 620px;
    box-sizing: border-box;

    @include mixins.respond-to(mobileOnly) {
      padding: 10px;
    }

    @include mixins.respond-to(tablet) {
      padding: 10px;
    }

    @include mixins.respond-to(desktopM) {
      padding: 0 40px 40px 40px;
    }
  }

  &__info-text {
    font-family: var(--font-family-title);
    font-weight: 700;

    color: var(--color-white);

    @include mixins.respond-to(mobileOnly) {
      font-size: 18px;
      line-height: 28px;
    }

    @include mixins.respond-to(tablet) {
      font-size: 20px;
      line-height: 28px;
    }

    @include mixins.respond-to(desktopM) {
      font-size: 28px;
      line-height: 36px;
    }
  }

  &__info-title {
    font-family: var(--font-family-title);
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: var(--color-white);

    margin: 0 0 5px 0;
  }

  &__arrows {
    position: absolute;
    top: 50%;
    left: 0;

    display: flex;
    justify-content: space-between;

    width: 100%;
    pointer-events: none;

    transform: translateY(-50%);

    padding: 0 25px 0 25px;

    z-index: 10;

    @include mixins.respond-to(mobileOnly) {
      display: none;
    }

    @include mixins.respond-to(tabletOnly) {
      display: none;
    }

    .arrows__arrow {
      width: fit-content;
      height: fit-content;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      cursor: pointer;
      pointer-events: all;

      transition: transform 0.3s;

      &:hover {
        transform: scale(1.1);
        transition: transform 0.3s;
      }
    }

    & .arrow-icon {
      vertical-align: top;
    }
  }

  &__slider-pagination {
    display: none;

    @include mixins.respond-to(mobileOnly) {
      display: block;

      width: fit-content !important;

      padding: 20px;
      margin: 0 auto;

      & .swiper-pagination-bullet {
        display: inline-block !important;

        width: 10px !important;
        height: 10px !important;
      }

      & .swiper-pagination-bullet-active {
        background-color: #D9C38D !important;
      }
    }

    @include mixins.respond-to(tabletOnly) {
      display: block;

      width: fit-content;

      padding: 20px;
      margin: 0 auto;

      & .swiper-pagination-bullet {
        display: inline-block !important;

        width: 10px !important;
        height: 10px !important;
      }

      & .swiper-pagination-bullet-active {
        background-color: #D9C38D !important;
      }
    }
  }

  &__desc-block {
    display: flex;
    flex-direction: column;

    max-width: 380px;
    background-color: #D9C38D;

    padding: 67px 0 110px 0;
    margin: 0 20px 0 0;

    @include mixins.respond-to(mobileOnly) {
      order: 2;

      width: 100%;
      max-width: 100%;

      padding: 20px 0 20px 0;
      margin: 0;
    }

    @include mixins.respond-to(tabletOnly) {
      order: 2;

      width: 100%;
      max-width: 100%;

      padding: 20 0 50px 0;
      margin: 0;
    }
  }

  &__desc-title {
    font-family: var(--font-family-title);
    font-weight: 900;
    font-size: 40px;
    line-height: 45px;
    color: var(--color-mine-shaft);

    padding: 0 0 0 27px;
    margin: 0 0 20px 0;

    @include mixins.respond-to(mobileOnly) {
      padding: 0 0 0 10px;
    }

    @include mixins.respond-to(tabletOnly) {
      padding: 0 0 0 20px;
    }
  }

  &__desc-body {
    & p {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: var(--color-mine-shaft);

      padding: 0 40px 0 27px;
      margin: 0 0 30px 0;

      @include mixins.respond-to(mobileOnly) {
        font-size: 18px;
        line-height: 130%;

        padding: 0 20px 0 20px;
      }

      @include mixins.respond-to(tabletOnly) {
        font-size: 18px;
        line-height: 130%;

        padding: 0 20px 0 20px;
      }

      &:last-child {
        margin: 0;
      }
    }

    & h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: var(--font-family-title);
      color: var(--color-mine-shaft);

      padding: 0;
      margin: 0 0 20px 0;

      &:last-child {
        margin: 0;
      }
    }
  }
}

.main-nav__nav-link--projects {
  color: var(--color-mine-shaft);

  @include mixins.respond-to(mobileOnly) {
    color: var(--color-white);
  }

  @include mixins.respond-to(tabletOnly) {
    color: var(--color-white);
  }
}

.main-nav__lang-item--en--projects {
  color: var(--color-mine-shaft);

  @include mixins.respond-to(mobileOnly) {
    color: var(--color-white);
  }

  @include mixins.respond-to(tabletOnly) {
    color: var(--color-white);
  }
}

.main-nav__burger-line--projects {
  background-color: var(--color-mine-shaft);

  transition: background-color 0.1s;

  &::before {
    background-color: var(--color-mine-shaft);
  }

  &::after {
    background-color: var(--color-mine-shaft);
  }
}

.main-nav__burger--active .main-nav__burger-line--projects {
  background-color: transparent;

  transition-delay: 0.4s;
  transition: background-color 0.1s;

  &::before {
    background-color: var(--color-white);
  }

  &::after {
    background-color: var(--color-white);
  }
}