:root {
	// Цвета
	--color-white: #ffffff;
	--color-black: #000000;
	--color-william: #3a5a6d;
	--color-pancho: #ead49e;
	--color-silver-chalice: #9d9d9d;

	--gradient-main: linear-gradient(90deg, #EDD49D -25.11%, #E7D39E 175.32%);

	// Шрифты
	--font-family-default: 'Inter', system-ui, sans-serif;
	--font-family-title: 'Montserrat', system-ui, sans-serif;

	// Размер контейнера
	--container-width: 1300px;
}